@media screen and (max-width: 600px) {}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.header {
    width: 100%;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo img {
    width: 200px;
    margin-left: 140px;
}


.search-box {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}


.search-box input {
    flex: 1;
    width: 290px;
    height: auto;
    padding: 16px;
    font-weight: 18px;
    border: 0.1px solid rgb(207, 207, 207);
}

button {
    background-color: #268f18;
    border: none;
    margin-left: 0%;
    padding: 18px;
    cursor: pointer;
}

button .gg-search {
    color: #fff;

}



.icons span {
    display: inline-block;
    border: 0.5px solid #cfcfcf;
    border-radius: 50%;
    padding: 8px;
    margin-right: 7px;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}

.icons {
    color: #cfcfcf;
    margin-right: 70px;
}

.icons span:hover {
    color: #268f18;
    border: 0.5px solid #268f18;
    cursor: pointer;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: auto;
    border-top: 2px solid #cfcfcf;
}

.navbar li {
    padding: 12px;
    margin-left: 20px;
    margin-top: 0px;
}

.navbar li:hover {
    border-bottom: 3px solid #268f18;
    cursor: pointer;
    transition: 0.1s;
    padding-bottom: 1px;
}

/* Display Image */
.displyimage {
    width: 100%;
    height: 500px;
    background-image: url(images/DisplayImage.png);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 20px;
    min-height: 100vh;

}

.title-heading {
    width: 50%;
    padding: 20px;
    position: relative;
    float: right;
    margin-top: 50px;
}

.title-heading h1 {
    font-weight: 600;
    font-size: 80px;
    letter-spacing: 6px;
}

.title-heading .light-hd {
    font-weight: 400;
    font-size: 70px;
}

.title-heading .bold-col {
    font-weight: 800;
    font-size: 80px;
    letter-spacing: 6px;
    color: #268f18;
}

.title-heading p {
    width: 500px;
    font-size: 18px;
}

.catg-heading {
    display: flex;
    margin: 80px 20px 60px 40px;

}

.hr-line {
    width: 370px;
    height: 3px;
    background-color: #268f18;
    margin: 18px;
}

.prod-catg {
    display: flex;
    margin: 20px 190px;
    justify-content: space-between;
}

.product1 {
    text-align: center;
}

.product1 img {
    width: 130px;
}

.prod-catg .product1:hover {
    color: #268f18;
    cursor: pointer;
}


.ri-star-fill ,.ri-star-half-line{
    color: rgb(255, 196, 0);
}

.new-arrivals {
    justify-content: space-between;
    display: flex;
    margin: 20px 60px;
}


.new-arr-prod-a {
    border: 2px solid #cfcfcf;
    border-radius: 20px;
    box-shadow: 20px;
    width: 220px;
    height: 265px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform .5s;
    
}

.new-arr-prod-a img {
    width: 200px;

}

.new-arr-prod-a h4 {
    margin: 8px;
}

.new-arr-prod-a p{
    color:#268f18;
    font-weight: 700;
}

.new-arr-prod-a:hover {
    border: 2px solid #268f18;
    transform: scale(1.06); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.two_cards{
    justify-content: space-between;
    display: flex;
    margin: 110px 60px;
}

.two_card_p{
    display: flex;
    border: 2px solid #cfcfcf;
    width: 530px;
    padding: 10px;
    height: 300px;
    border-radius: 15px;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;

}

.two_card_p img{
    width: 300px;
    height: 300px;

}

.two_card_p h1{
    margin: auto  20px;
    letter-spacing: 0.9px;
}

.two_card_p:hover{
    border: 2px solid #268f18;
    transition: 0.5s;
    color: #268f18;
}


/* 50% Sale Card and Some Products */
.big-discount-div{
    min-width: 100vh;
    display:flex;
    margin: auto 60px;
}

.up50-off-flat{
    border: 2px solid #cfcfcf;
    border-radius: 20px;
    width: 600px;
    text-align: center;
    padding: 20px;
}

.up50-off-flat img{
    width: 240px;
}

.up50-off-flat h1{
    margin-top: 30px;
    font-size: 35px;
    font-weight: 600;
}

.bold50off{
    font-size: 60px;
    font-weight: 700;
    color: #268f18;
}

.some-prod-card-3{
    display: flex;
    text-align: center;
    margin-left: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
}


.three_card_a {
    width: 200px;
    height: 235px;
    margin-left: 40px;
    border-radius: 20px;
}

.three_card_a img{
    width:170px;
}


.green_col{
    min-width: 100vh;   
    display: flex;
    justify-content: space-between;
    border: 2px solid #268f18;  
    border-radius: 18px;
    padding: 20px;
    background-image: linear-gradient(#268f18, #289b18);
    margin: 100px 50px;
    color: #fff;

}

.green_col_4{
    display: flex;
}

.green_col_4 i{
    font-size: 40px;
}

.green_col_4 p{
    margin: auto 10px;
}


/* Footer */

.footer{
    min-width: 100vh;
    background-color: #272727;
    flex-wrap: wrap;
    display: flex;  
    justify-content: space-between;
    padding: 40px;
}

.footer_col_1{
    text-align: center;
}

.footer_col_1 img{
    width: 200px;
}

.social_icon_footer{
    font-size: 20px;
    color: #fff;
}

.social_icon_footer i{
border: 2px solid #fff;
border-radius: 50%;
padding: 5px;
margin-left: 4px;
cursor: pointer;
}

.social_icon_footer i:hover{
    border: 2px solid #268f18;
    color: #268f18;
    }

/* Footer Column 2 and 3 */
.footer_col_2{
    color: #fff;
}

.footer_col_2 li{
    list-style: none;
    margin-top: 14px;
}

.footer_col_2 li:hover{
    color: #268f18;
    cursor: pointer;
}

.footer_col_3{
    width: 400px;
}

.footer_col_3 p{
   margin: 20px 0;
}

.copyright{
    background-color: #272727;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.copyright p a{
    text-decoration: none;
    color: #268f18;
}

.copyright p a:hover{
    color: #fff;
}



/* heading button */

.title-heading-btn form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #268f18;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .title-heading-btn a:hover {
    background: #268f18;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #268f18,
                0 0 25px #268f18,
                0 0 50px #268f18,
                0 0 100px #268f18;
  }
  
  .title-heading-btn a span {
    position: absolute;
    display: block;
  }
  
  .title-heading-btn a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #268f18);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .title-heading-btn a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #268f18);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .title-heading-btn a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #268f18);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .title-heading-btn a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #268f18);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  